* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header {
    background: url("assets/Background.png") no-repeat bottom center/contain;
}

.container {
    max-width: 1354px;
    margin: auto;
}

.logo {
    color: #08A6E4;
    letter-spacing: 0;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
}


.container-nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navElement {
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin-bottom: 130px;
}

.nav-ul-right {
    display: flex;
    list-style-type: none;
}


.nav-ul-right li a {
    margin: 0 47px;
    text-transform: uppercase;
    padding: 27px 0;
    text-align: center;
    font: 600 11px/15px 'Open Sans';
    letter-spacing: 3.28px;
    color: #A5A5A5;
    opacity: 1;
}

.nav-ul-right li:last-child {
    margin-right: 0;
}

.nav-ul-right a:hover {
    border-bottom: 2px solid blue;
    color: black;
}

.sellMoreContainer {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sellmore {
    text-align: center;
    font-size: 49px;
    font-family: "Raleway";
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 20px;

}

.someContent {
    text-align: center;
    font: 400 22px "Open Sans";
    letter-spacing: 0;
    color: #000000;
    padding: 0 0 38px 0;
}

.button {
    background: #08A6E4 0% 0% no-repeat padding-box;
    /*box-shadow: 5px 10px 14px #07ACE629;*/
    border-radius: 40px;
    opacity: 1;
    width: 440px;
    height: 67px;
    text-align: center;
    font: 600 16px/22px "Open Sans";
    letter-spacing: 0;
    color: #FFFFFF;
    font-size: 22px;
}

.platform {
    display: flex;
    max-width: 1354px;
    height: 531px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.platformH1 {
    text-align: center;
    font: 500 36px/43px "Raleway";
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    position: relative;
    bottom: 101px;

}


.platformContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


article {
    width: 114px;
    height: 140px;
    color: black;
    align-items: center;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 80px;
}

.box {
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;

}

.box1 {
    background-color: #FB3B64;
}

.box2 {
    background-color: #08A6E4;
}

.box3 {
    background-color: #55DFB4;
}

.platformImage {
    position: relative;
    left: 20px;
    height: 62.71px;
    width: 62.71px;
}

.platformContainer h2 {
    text-align: center;
    font: 600 20px/24px "Raleway";
    letter-spacing: 5.96px;
    color: #000000;
    height: 20px;
    width: 114px;
    margin: 22px;

}

.platformContainer p {
    text-align: center;
    font: 500 17px/20px "Raleway";
    letter-spacing: 0;
    color: #A5A5A5;
    width: 176px;
    height: 48px;
}


main{
    background: #F7F7F7 0% 0% no-repeat padding-box;
    height: 1395px;
}
main hr{ width: 328px;
    height: 0px;
    margin-left: 35px;
}
main h2{
    text-align: left;
    font: 500 36px/43px 'Raleway';
    letter-spacing: 0;
    color: #000000;
}
main p{
    text-align: left;
    font: 400 16px/22px 'Open Sans';
    letter-spacing: 0;
    color: #000000;
}
.main-content-boxes{
    height: 370px;
    width: 100%;
    display: flex;
    /* width: 1124px; */
    background-color: #FFF;
    margin-bottom: 37px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.main-content-boxes:last-child{
    margin: 0;
}
.main-content-container{
    max-width: 1354px;
    height: 100%;
    padding: 105px 115px;
}
.main-content-info-box{
    width: 50%;
}
.main-content-img-box{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center ;
}
.rhombus-div{
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    margin-left: 229px;
    margin-top: 68px;
}
.main-content-info-box h2{
    padding: 97px 0 0 35px;
}
.main-content-info-box p{
    padding: 30px 133px 50px 35px;
    /* margin-left: 35px; */
    /* border-bottom: 4px solid #FB3B64;; */
}
.main-content-img{
    position: absolute;
    bottom: 0;
    padding-bottom: 10%;
}
.hr-for-first-box{
    border: 4px solid #FB3B64;
}
/* Acrticle 2 in main ceontent */
.blue-circle{
    width: 320px;
    height: 320px;
    background: #07ACE6 0% 0% no-repeat padding-box;
    border-radius: 50%;
}
.main-content-boxes .main-content-img-box:nth-child(1){
    align-items: center;
    justify-content: center;
}
.main-content-img-phone{
    padding: 0;
    right: 0;
}
h2.main-h2-second-arcticle{
    padding: 75px 198px 0 35px;
}
.hr-for-second-box{
    border: 4px solid #08A6E4;
}
/* LAST BOXES */
.main-content-boxes-split-for-two{
    background-color: #F7F7F7;
    border: none;
}
.maint-contet-last-box-one{
    width: 623px;
    height: 370px;
    margin-right: 70px;
    background-color: #FFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;

}
.maint-contet-last-box-second{
    width: 440px;
    height: 370px;
    background-color: #FFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background: #55DFB4 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maint-contet-last-box-one > h2{
    padding: 97px 159px 0 35px;
}
.maint-contet-last-box-one > p{
    padding: 30px 15px 40px 35px;
}
.maint-contet-last-box-one > hr{
    border: 4px solid #55DFB4;
}
/* FOOTER: SECTION WHITH PRICES AND FORM */
.pricing-section{
    text-align: center;
}
.pricing-section h2{
    text-align: center;
    font: 400 36px/43px 'Raleway';
    letter-spacing: 0;
    color: #000000;
    margin-top: 106px;
}
.pricing-box-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-top: 50px;
}
.pricing-box-main .pricing-box:first-child{
    border: 1px solid #FB3B64;
}
.pricing-box-main .pricing-box:nth-child(2){
    border: 1px solid #07ACE6;
}
.pricing-box-main .pricing-box:last-child{
    border: 1px solid #55DFB4;
}
.pricing-box{
    height: 461px;
    width: 372px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing-box h3{
    text-align: left;
    font: Bold 20px/41px 'Raleway';
    letter-spacing: 0;
    color: #13253B;
}
.pricing-box h4{
    text-align: left;
    font: 300 46px/41px 'Open Sans';
    letter-spacing: 0;
    color: #FB3B64;
    margin:15px 0 60px 0;
}
.pricing-box-professional h4{
    color: #07ACE6;
}
.pricing-box-premium h4{
    color: #55DFB4;
}

.pricing-box-content::before{
    content: '\f00c';
    font-size: 6px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    border: 1px solid #55DFB4;
    margin-right: 7px;
    padding: 2px;
    border-radius: 2px;
    color: #55DFB4;
}
.pricing-box-content-dont-ofer::before{
    content: '\f00d';
    font-size: 6px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    border: 1px solid #EB476E;
    margin-right: 7px;
    padding: 2px;
    border-radius: 2px;
    color: #EB476E;
}
.pricing-box-content{
    font: 400 14px/41px 'Open Sans';
    letter-spacing: 0;
    color: #000000;
}
.pricing-box .heading-after-limited-offer::after{
    content: 'limited ofer';
    font: Bold 12px/1px 'Raleway';
    letter-spacing: 0;
    color: #13253B;
    display: block;
    margin-top: 7px;
}
.pricing-box-professional{
    height: 500px;
    width: 405px;
    box-shadow: 5px 10px 27px #07ACE629;
}
.pricing-box-professional:hover{
    box-shadow: 5px 10px 34px rgba(6, 125, 169, 0.401);
}
.pricing-box-main .pricing-box-basic:hover {
    box-shadow: 0px 5px 15px #FB3B64;
}
.pricing-box-main .pricing-box-premium:hover{
    box-shadow: 0px 5px 15px #55DFB4;
}
.begin-links{
    text-align: left;
    font: Bold 13px/41px 'Open Sans';
    letter-spacing: 0;
    color: #FFFFFF;
    background: #EB476E 0% 0% no-repeat padding-box;
    border-radius: 23px;
    width: 150px;
    padding: 2px;
    text-align: center;
    position: relative;
    top: 40px;
}
.begin-links-professional{
    top: 59px;
    background: #07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
}
.begin-links-premium{
    background: #55DFB4;
}
.begin-links-basic:hover{
    background: linear-gradient(rgb(184, 56, 86), #EB476E);
}
.begin-links-professional:hover{
    background: linear-gradient(rgb(5, 111, 150), #07ACE6);
}
.begin-links-premium:hover{
    background: linear-gradient(rgb(61, 165, 132), #55DFB4);
}




.form-main{
    height: 721px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-and-questions-box{
    display: flex;
    width: 896px;
}
.questions-box{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    height: 210px;
}
.form-box{
    flex-basis: 50%;
}
.form-box form{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;

}

.questions-box h2{
    font: 600 49px/59px 'Raleway';
    letter-spacing: 0;
    color: #000000;
    margin-bottom: 22px;
    flex-basis: 100%;
}
.questions-box p{
    font: 500 16px/22px 'Open Sans';
    letter-spacing: 0;
    color: #000000;
    margin-bottom: 42px;
    flex-basis: 100%;
}
.questions-box span{
    font: 500 16px/22px 'Open Sans';
    letter-spacing: 0;
    color: #A5A5A5;
    display: flex;
    justify-content: center;
    align-items: center;

}
.questions-box .mail-icon::before{
    content: url(pictures/MailIcon.svg);
    padding-right: 12px;
}
.questions-box .phone-icon::before{
    content: url(pictures/PhoneIcon.svg);
    padding-right: 10px;
    margin-left: 24px;
}
/* Form */
form input:nth-child(2n)
{
    padding: 20px;
    border: none;
    border-bottom: 1px solid #95989A;
    margin-bottom: 35px;
}
.i-agree-terms{
    display: flex;
    /* position: relative; */
}

.container-new-chekbox{
    display: block;
    position: relative;
    margin-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
.container-new-chekbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #95989A;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container-new-chekbox input:checked ~ .checkmark:after {
    display: block;
}
.container-new-chekbox .checkmark:after {
    left: 4px;
    top: 4px;
    width: 70%;
    height:70%;
    background: url(pictures/Checkmark.svg) no-repeat center/cover;
}
.i-agree-terms div{
    text-align: left;
    font: 400 12px/17px 'Open Sans';
    letter-spacing: 0;
    color: #707070;
}
.lables{
    text-align: left;
    font: Bold 11px/15px 'Open Sans';
    letter-spacing: 3.28px;
    color: #08A6E4;
    text-transform: uppercase;
}

.btn-send{
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    background: #08A6E4;
    padding: 20px 97px;
    /* width: 226px; */
    font: Bold 13px/18px 'Open Sans';
    letter-spacing: 0;
    color: #FFF;
    border: none;
    margin-top: 25px;
}


.button-box{
    display: flex;
    justify-content: flex-end;
}
.social-networks-main{
    width: 100%;
    height: 89px;
    background: #f7f7f7;
    box-shadow: 0px -5px 40px #00000029;
}
.social-networks-box{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-footer{
    font: 300 26px/31px 'Raleway';
}

.social-networks-logo > p{
    font: 400 11px/15px 'Open Sans';
    letter-spacing: 0;
    color: #A5A5A5;
    margin-top: 6px;
}
.social-networks-links a:first-child{
    margin-right: 20px;
}
.social-networks-links a:hover{
    cursor: pointer;
}


















